body {
    background: linear-gradient(135deg, #52525e, #000000);
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.login-container {
    height: 100vh;
}

.login-box {
    background: linear-gradient(135deg, #cdcde0, #1a1818);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
}

.login-button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.login-button:hover {
    background-color: white;
    color: #1a1818;
}

.redirect a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.redirect a:hover {
    text-decoration: underline;
}
