body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #52525e, #000000);
    color: white;
    margin: 0;
    padding: 30px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 90%;
    max-width: 500px;
}

.register-card {
    background: linear-gradient(135deg, #cdcde0, #1a1818);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease;
}

.register-card:hover {
    transform: scale(1.02);
}

h2 {
    color: white;
}

.form-label {
    font-weight: 600;
}

.form-control {
    background-color: #333;
    color: white;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.form-control::placeholder {
    color: #bbb;
}

.register-button {
    padding: 10px;
    font-size: 1.1rem;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.register-button:hover {
    background-color: #333;
    color: white;
    box-shadow: 0 0 10px  #28a745;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
